# Inspired by:
# - https://github.com/sladkoff/resume
# - https://github.com/rendercv/rendercv-pipeline

on:
  push:
    branches:
      - main

name: Render CV

jobs:
  build:
    name: Build and release CV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Setup just
        uses: extractions/setup-just@v3

      - name: Render CV
        run: just generate

      - name: Create release
        id: semantic
        uses: cycjimmy/semantic-release-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: main

      - name: Publish release
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.semantic.outputs.new_release_git_tag }}
          files: rendercv_output/*.pdf
